{% extends 'base.html.twig' %}

{% block title %}Hello Controller!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div id="row">
    <div class="col">
        <center>
        <div id="row-sm-1 text-white" class="col-sm-1 text-white">
                <h1>CV</h1>
        </div>
    </center>
    </div>
</div>
<div class="row">
    <div id="row-sm-0">
    <p><br></p>
    </div>
</div>
<div class="row">

    <div class="col-sm-2"></div>
        
        <div class="col-sm-2">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="media/diplome_image.png">
                <div class="card-body">
                  <h3 class="card-title">Diplome</h3>
                  <p class="card-text">1er cycle du certificat d’étude musical (2015) 
                    <br><br>
                    PSC1 (2019)
                    <br><br>
                    Baccalauréat général (2022)
                    Lycée François Mauriac
                    <br><br>
                    Permit de conduire (2022)
                    <br><br>
                    BAFA (2022)
                    <br><br>
                    Brevet 100m de nage (2022)
                  </p
                </div>
              </div>
        </div>
    </div>
    <div class="col-sm-3"></div>
    <div class="col" >
            <div class="card" style="width: 25rem;">
                <img class="card-img-top" src="media/experiencepro_image.jpg">
                <div class="card-body">
                <h3 class="card-title">Expérience pro</h3>
                <p class="card-text">
                    <h5>STAGE À ILEM - Genève (Janv. 2019 – Fev. 2019)</h5>
                    <br><br>
                    J’ai eu la chance de faire mon stage de troisième au sein de ilem une entreprise d'informatique spécialisée dans le secteur d'activité du conseil en systèmes et logiciels informatiques (SSII).
                    <br><br>
                    <h5>Assistant sportif (Sept. 2021 – Juin 2022)</h5>
                    <br><br>
                    L’ année dernière je me suis investi dans mon club de foot en aidant l’entraineur des U7 à coacher leur entrainement tous les mercredi après midi.
                    <br><br>
                    <h5>Animateur uniquement durant les vacances scolaires
                    (Février 2022 – Juillet 2022)</h5>
                    <br><br>
                    Je me suis investi au sein  de différent centre de loisir ce qui m’a permit d’acquérir une petite expérience.
                    </p>
                </div>
            </div>
    </div>
    <div class="col-sm-2">
            <div class="row-sm-1">
            <div class="col-sm-2" >
                <p><br></p><p><br></p><p><br></p><p><br></p>
                    <div class="card" style="width: 30rem;">
                        <img class="card-img-top" src="media/experiencepro_image.jpg">
                        <div class="card-body">
                        <h3 class="card-title">Expérience pro</h3>
                        <p class="card-text">
                            <h5>STAGE À ILEM - Genève (Janv. 2019 – Fev. 2019)</h5>
                            <br><br>
                            J’ai eu la chance de faire mon stage de troisième au sein de ilem une entreprise d'informatique spécialisée dans le secteur d'activité du conseil en systèmes et logiciels informatiques (SSII).
                            <br><br>
                            <h5>Assistant sportif (Sept. 2021 – Juin 2022)</h5>
                            <br><br>
                            L’ année dernière je me suis investi dans mon club de foot en aidant l’entraineur des U7 à coacher leur entrainement tous les mercredi après midi.
                            <br><br>
                            <h5>Animateur uniquement durant les vacances scolaires
                            (Février 2022 – Juillet 2022)</h5>
                            <br><br>
                            Je me suis investi au sein  de différent centre de loisir ce qui m’a permit d’acquérir une petite expérience.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
{% endblock %}