{% extends 'base.html.twig' %}

{% block title %}Présentation{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div id="row">
    <div class2="col">
        <br>
        <font size="5">
            <center>
                
        <div id="row-sm-4 bg-white text-black" class="col-sm-4 bg-white text-black">
            <p> <h3>Profils : </h3></p>
            <p style="border: 2px solid black; padding: 10px;" align="center">Nom : Fayolle 
                <br><br>Prénom : Antoine <br><br>Je possède le permit de conduire 
                <br><br>Numéro de téléphone : 06 08 66 78 30 </p>
        </div>
    </div>
</div>        
    
<div class="row">
    <div class="col-sm-2 text-white" >
        <br>
    </div>
    <center>
    <div class="col-sm-7 bg-white text-black" align="center">
        <p style="border: 2px solid black; padding: 10px;" align="center">
            Je suis un jeune adulte passionner d’informatique cherchant à découvrir ce monde professionnel. 
            Je suis une personne persévérante, curieuse, capable d’être à l’écoute et mettre à disposition 
            mes connaissances pour mes collègues pour pouvoir mener à bien les objectifs imposer.
        </p>
    </div>
    
</div>
<div class="row">
    <center>
    <div class="col-sm-2 text-white"  >
        <br>
    </div>
    <a href="https://openclassrooms.com/fr/">En savoir plus</a>
</div>
    </center>
        {% endblock %}