{% extends 'base.html.twig' %}

{% block title %}Présentation{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="row">
    <div class="col">
     
        <div class="row-sm-1 text-white">
            
            <p><br></p>
            <center>
                <h1>Installer un poste client</h1>
                <p><br></p>
        </div>
    </div>
</div>
          
<div class="row">
    <div class="col-sm-2 text-white" >
        <br>
    </div>
    <center>
    <div class="col-sm-7 bg-white text-black" align="center">
        <p style="border: 2px solid black; padding: 10px;" align="center">
            Au sein de cet apprentissage critique nous avons appris à installer un poste client fonctionnel et le plus rapidement possible en étudiant le réseau dans son ensemble. Cet apprentissage contient de l’adressage IPV4 avec les bons vlan et peut créer des dossiers communs entre le client et l'hôte. Durant cet apprentissage j’ai eu une vitesse de compréhension assez rapide  même si je possédais déjà des bonnes bases en informatique mais l’automatisation de cela est encore un peu défaillante. Au moment des contrôles je n’ai peut-être pas forcément été le meilleur là-dessus mais je me mets quand même ¾ car aujourd’hui je suis capable de faire sa mais sans forcément savoir à l’expliquer. Je pense que je peux encore m’améliorer mais si son continu comme son automatisme arrivera. Je compte continuer de mon côté le travail mais si j’ai des problèmes je me tournerai vers les cours de soutien ou encore vers les professeurs.
        </p>
    </div>
    
</div>
<div class="row">
    <center>
    <div class="col-sm-2 text-white"  >
        <br>
    </div>
    <a href="/competence">retour à la page compétence</a>
</div>
    </center>
        {% endblock %}