{% extends 'base.html.twig' %}

{% block title %}Présentation{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="row">
    <div class="col">
     
        <div class="row-sm-1 text-white">
            
            <p><br></p>
            <center>
                <h1>Utiliser un système informatique et ses outils
                </h1>
                <p><br></p>
        </div>
    </div>
</div>
          
<div class="row">
    <div class="col-sm-2 text-white" >
        <br>
    </div>
    <center>
    <div class="col-sm-7 bg-white text-black" align="center">
        <p style="border: 2px solid black; padding: 10px;" align="center">
            À travers les différentes ressources qui composent cette compétence critique de la compétence programmée nous avons parcouru différents langages dont le Linux où nous avons appris à évoluer facilement entre l’interface graphique et le terminal ou encore utiliser Spider pour python visual studio pour le C et Python. Puisque je sortais d’un Bac général avec comme option MPSI/Mathématiques/Physique-Chimie je possédais déjà quelques bases en algorithmie donc l’apprentissage du C et l’amélioration du python. L’apprentissage un peu ludique du langage du terminal de Linux je m’y suis plutôt bien senti. L’apprentissage aussi du HTML était tout aussi compliqué. Puisque je possède déjà une certaine logique algorithmique, je me suis bien débrouillé en C, en python et Linux mais avec un peu plus de difficultés en HTML. Je compte mettre en place un approfondissement au niveau HTML et me perfectionner dans les autres langages.
        </p>
    </div>
    
</div>
<div class="row">
    <center>
    <div class="col-sm-2 text-white"  >
        <br>
    </div>
    <a href="/competence">retour à la page compétence</a>
</div>
    </center>
        {% endblock %}