{% extends 'base.html.twig' %}

{% block title %}Présentation{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="row">
    <div class="col">
     
        <div class="row-sm-1 text-white">
            
            <p><br></p>
            <center>
                <h1>Déployer des supports de transmission</h1>
                <p><br></p>
        </div>
    </div>
</div>
          
<div class="row">
    <div class="col-sm-2 text-white" >
        <br>
    </div>
    <center>
    <div class="col-sm-7 bg-white text-black" align="center">
        <p style="border: 2px solid black; padding: 10px;" align="center">
            Durant les différentes ressources qui parcourent cet apprentissage critique nous avons à la fois clivé et souder des câbles de fibre, du câblage entre autres soit reliée différent appareil grâce à des câbles RJ 45 ou encore à partir d’un simple câble sans embout créer des câbles avec embout pour pouvoir relier des appareils. Je me suis senti assez à l’aise dans cette ressource même si parfois la manipulation était compliquée (au niveau de la précision sur la soudeuse ou encore quand nous avons mis l'embout sur le câble RJ45 mais  l’application du cours en R1-03).  Un sentiment perdu peut être à cause d’un manque de travail au début mais après un peu de travail et de précisions cela m’a permis d’avancer. Maintenant que j’ai compris comment il fallait que je fonctionne sur les matières nouvelles cela ira beaucoup mieux. Je me sens bien aujourd’hui au sein de cet apprentissage critique grâce dans un premier temps au travail fourni derrière.
        </p>
    </div>
    
</div>
<div class="row">
    <center>
    <div class="col-sm-2 text-white"  >
        <br>
    </div>
    <a href="/competence">retour à la page compétence</a>
</div>
    </center>
        {% endblock %}