<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        Bootswatch
Themes
Help
Blog
Pulse
 GitHub
 Twitter
Pulse
A trace of purple

Navbars
Navbar
Home(current)
Features
Pricing
About
Dropdown
Search
Navbar
Home(current)
Features
Pricing
About
Dropdown
Search
Navbar
Home(current)
Features
Pricing
About
Dropdown
Search
Buttons
        
        
       
 
 
 
  






Typography
Heading 1
Heading 2
Heading 3
Heading 4
Heading 5
Heading 6
Heading with muted text
Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.

Example body text
Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.

This line of text is meant to be treated as fine print.

The following is rendered as bold text.

The following is rendered as italicized text.

An abbreviation of the word attribute is attr.

Emphasis classes
Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.

Nullam id dolor id nibh ultricies vehicula ut id elit.

Pellentesque ornare sem lacinia quam venenatis vestibulum.

Etiam porta sem malesuada magna mollis euismod.

Donec ullamcorper nulla non metus auctor fringilla.

Duis mollis, est non commodo luctus, nisi erat porttitor ligula.

Maecenas sed diam eget risus varius blandit sit amet non magna.

Blockquotes
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.

 Someone famous in Source Title
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.

 Someone famous in Source Title
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.

 Someone famous in Source Title
Tables
Type	Column heading	Column heading	Column heading
Active	Column content	Column content	Column content
Default	Column content	Column content	Column content
Primary	Column content	Column content	Column content
Secondary	Column content	Column content	Column content
Success	Column content	Column content	Column content
Danger	Column content	Column content	Column content
Warning	Column content	Column content	Column content
Info	Column content	Column content	Column content
Light	Column content	Column content	Column content
Dark	Column content	Column content	Column content
Forms
Legend
Email
email@example.com
Email address
Enter email
We'll never share your email with anyone else.
Password
Password
Example select
1
Example multiple select12345
Example textarea
Default file input exampleAucun fichier choisi
Radio buttons
Option one is this and that—be sure to include why it's great
Option two can be something else and selecting it will deselect option one
Option three is disabled
Checkboxes
Default checkbox
Checked checkbox
Switches
Default switch checkbox input
Checked switch checkbox input
RangesExample range 
 Disabled range 
 Example range 
Disabled input
Disabled input here...
Readonly input
Readonly input here...
Valid input
correct value
Success! You've done it.
Invalid input
wrong value
Sorry, that username's taken. Try another?
Large input
.form-control-lg
Default input
Default input
Small input
.form-control-sm
Input addons
$
.00
Recipient's username
Floating labels
name@example.com
Email address
Password
Password
Navs
Tabs
Home
Profile
Disabled
Dropdown
Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.

Pills
Active
Dropdown
Link
Disabled

Active
Dropdown
Link
Disabled
Breadcrumbs
Home
Home
Library
Home
Library
Data
Pagination
«
1
2
3
4
5
»
«
1
2
3
4
5
»
«
1
2
3
4
5
»
Indicators
Alerts

Warning!
Best check yo self, you're not looking too good. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.

Oh snap! Change a few things up and try submitting again.
Well done! You successfully read this important alert message.
Heads up! This alert needs your attention, but it's not super important.
Oh snap! Change a few things up and try submitting again.
Well done! You successfully read this important alert message.
Heads up! This alert needs your attention, but it's not super important.
Badges
Primary Secondary Success Danger Warning Info Light Dark
Primary Secondary Success Danger Warning Info Light Dark
Progress
Basic
Contextual alternatives
Multiple bars
Striped
Animated
Containers
List groups
Cras justo odio
14
Dapibus ac facilisis in
2
Morbi leo risus
1
Cras justo odio
Dapibus ac facilisis in
Morbi leo risus
List group item heading
3 days ago
Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.

Donec id elit non mi porta.
List group item heading
3 days ago
Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.

Donec id elit non mi porta.
Cards
Header
Primary card title
Some quick example text to build on the card title and make up the bulk of the card's content.

Header
Secondary card title
Some quick example text to build on the card title and make up the bulk of the card's content.

Header
Success card title
Some quick example text to build on the card title and make up the bulk of the card's content.

Header
Danger card title
Some quick example text to build on the card title and make up the bulk of the card's content.

Header
Warning card title
Some quick example text to build on the card title and make up the bulk of the card's content.

Header
Info card title
Some quick example text to build on the card title and make up the bulk of the card's content.

Header
Light card title
Some quick example text to build on the card title and make up the bulk of the card's content.

Header
Dark card title
Some quick example text to build on the card title and make up the bulk of the card's content.

Header
Primary card title
Some quick example text to build on the card title and make up the bulk of the card's content.

Header
Secondary card title
Some quick example text to build on the card title and make up the bulk of the card's content.

Header
Success card title
Some quick example text to build on the card title and make up the bulk of the card's content.

Header
Danger card title
Some quick example text to build on the card title and make up the bulk of the card's content.

Header
Warning card title
Some quick example text to build on the card title and make up the bulk of the card's content.

Header
Info card title
Some quick example text to build on the card title and make up the bulk of the card's content.

Header
Light card title
Some quick example text to build on the card title and make up the bulk of the card's content.

Header
Dark card title
Some quick example text to build on the card title and make up the bulk of the card's content.

Card header
Special title treatment
Support card subtitle
Some quick example text to build on the card title and make up the bulk of the card's content.

Cras justo odio
Dapibus ac facilisis in
Vestibulum at eros
Card link Another link
2 days ago
Card title
Card subtitle
Some quick example text to build on the card title and make up the bulk of the card's content.

Card link Another link
Accordions
Accordion Item #1
This is the first item's accordion body. It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the .accordion-body, though the transition does limit overflow.
Accordion Item #2
Accordion Item #3
Dialogs
Modals
Modal title

Modal body text goes here.

Offcanvas
 
Popovers
   
Tooltips
   
Toasts
Bootstrap
11 mins ago

Hello, world! This is a toast message.
Source Code
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="#">Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
          </div>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-sm-2" type="search" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
Back to topBlogRSSTwitterGitHubAPIDonate
Made by Thomas Park.

Code released under the MIT License.

Based on Bootstrap. Icons from Bootstrap Icons. Web fonts from Google.


        {% block body %}{% endblock %}
    </body>
</html>
